<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070202927064-h0j83qi3g5uofh8m0ff2glh0tne7advb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070202927064-h0j83qi3g5uofh8m0ff2glh0tne7advb</string>
	<key>API_KEY</key>
	<string>AIzaSyCbJdoxqfRJHV-UqlGflbg4GXJOy-8GYsw</string>
	<key>GCM_SENDER_ID</key>
	<string>1070202927064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.datum.mynotes</string>
	<key>PROJECT_ID</key>
	<string>my-notes-db644</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-db644.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070202927064:ios:dea007d5c5656408f4a4ad</string>
</dict>
</plist>